In [1]:
import pandas as pd

In [2]:
dataset_file = 'actions2load.csv'

In [3]:
data = pd.read_csv(dataset_file)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3242076 entries, 0 to 3242075
Data columns (total 5 columns):
 #   Column           Dtype
---  ------           -----
 0   account_id       object
 1   event_time       object
 2   event_type       object
 3   product_id       int64
 4   additional_data  object
dtypes: int64(1), object(4)
memory usage: 123.7+ MB

In [6]:
data.head()

,account_id,event_time,event_type,product_id,additional_data
0,608aa5969cef2edc29cb0c46deaec9da,2019-11-29 12:10:08.154,DashboardLivebookLinkOpened,1156,/book/learn-dbatools-in-a-month-of-lunches
1,d07263602248aa70ce1967d6f98f9506,2019-11-29 12:10:19.962,ReadingOwnedBook,610,60s
2,b7d5902d66127909d0f9d766a841ebb5,2019-11-29 12:11:20.707,ReadingOwnedBook,1172,480s
3,d07263602248aa70ce1967d6f98f9506,2019-11-29 12:11:41.283,ProductTocLivebookLinkOpened,1066,/book/grokking-machine-learning/chapter-1
4,89f7601cb558e1c47b00a7fabb6a466c,2019-11-29 12:11:58.253,ReadingOwnedBook,1073,960s

In [38]:
data.describe()

         product_id
count  3.242076e+06
mean   5.153777e+02
std    4.912778e+02
min   -1.000000e+00
25%   -1.000000e+00
50%    6.130000e+02
75%    9.710000e+02
max    1.838000e+03

In [8]:
data['event_time'] = pd.to_datetime(data['event_time'])

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3242076 entries, 0 to 3242075
Data columns (total 5 columns):
 #   Column           Dtype
---  ------           -----
 0   account_id       object
 1   event_time       datetime64[ns]
 2   event_type       object
 3   product_id       int64
 4   additional_data  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 123.7+ MB

In [78]:
data['Year'] = pd.DatetimeIndex(data['event_time']).year
data['Month'] = pd.DatetimeIndex(data['event_time']).month
data['Day'] = pd.DatetimeIndex(data['event_time']).day
data['Date'] = pd.DatetimeIndex(data['event_time']).date
data['Date'] = pd.to_datetime(data['Date'])
data['Day_Name'] = pd.DatetimeIndex(data['event_time']).day_name()
data['YYYYMM'] = data['Date'].dt.strftime('%Y%m')

In [79]:
data.head()

,account_id,event_time,event_type,product_id,additional_data,Year,Month,Day,Date,YYYYMM,Day_Name
0,608aa5969cef2edc29cb0c46deaec9da,2019-11-29 12:10:08.154,DashboardLivebookLinkOpened,1156,/book/learn-dbatools-in-a-month-of-lunches,2019,11,29,2019-11-29,201911,Friday
1,d07263602248aa70ce1967d6f98f9506,2019-11-29 12:10:19.962,ReadingOwnedBook,610,60s,2019,11,29,2019-11-29,201911,Friday
2,b7d5902d66127909d0f9d766a841ebb5,2019-11-29 12:11:20.707,ReadingOwnedBook,1172,480s,2019,11,29,2019-11-29,201911,Friday
3,d07263602248aa70ce1967d6f98f9506,2019-11-29 12:11:41.283,ProductTocLivebookLinkOpened,1066,/book/grokking-machine-learning/chapter-1,2019,11,29,2019-11-29,201911,Friday
4,89f7601cb558e1c47b00a7fabb6a466c,2019-11-29 12:11:58.253,ReadingOwnedBook,1073,960s,2019,11,29,2019-11-29,201911,Friday

In [10]:
data['event_type'].nunique()

35

In [11]:
data['account_id'].nunique()

89467

In [12]:
data['product_id'].nunique()

740

In [40]:
data['product_id'].min()

-1

In [41]:
data['product_id'].max()

1838

In [42]:
data[data['product_id'] == -1]

,account_id,event_time,event_type,product_id,additional_data
99,c56fee05716e32af007e1944a3f2d9ca,2019-11-29 12:32:21.956,SearchMade,-1,Testing Java Microservice
101,c56fee05716e32af007e1944a3f2d9ca,2019-11-29 12:33:01.037,SearchMade,-1,Testing Java Microservice
116,4329c5badb1e019b2fca73b69489cf59,2019-11-29 12:34:29.756,SearchMade,-1,@produces
127,4329c5badb1e019b2fca73b69489cf59,2019-11-29 12:36:27.874,SearchMade,-1,@produces annotation
131,4329c5badb1e019b2fca73b69489cf59,2019-11-29 12:37:17.609,SearchMade,-1,tomee
...,...,...,...,...,...
3242069,f76e08878632f524cd78924fed6dd1f7,2020-06-04 04:19:35.279,LivebookLogin,-1,NaN
3242071,6bb61e3b7bce0931da574d19d1d82c88,2020-06-04 04:19:56.485,FirstManningAccess,-1,https://www.manning.com/books/bdd-in-action-se...
3242072,6bb61e3b7bce0931da574d19d1d82c88,2020-06-04 04:19:56.486,FirstLivebookAccess,-1,https://www.manning.com/books/bdd-in-action-se...
3242073,6bb61e3b7bce0931da574d19d1d82c88,2020-06-04 04:19:59.613,FirstLivebookAccess,-1,https://www.google.com/
3242074,6bb61e3b7bce0931da574d19d1d82c88,2020-06-04 04:19:59.612,FirstManningAccess,-1,https://www.google.com/

In [14]:
data['event_time'].min()

Timestamp('2019-11-29 12:10:08.154000')

In [15]:
data['event_time'].max()

Timestamp('2020-06-04 04:20:13.271000')

In [16]:
data['event_type'].unique()

array(['DashboardLivebookLinkOpened', 'ReadingOwnedBook',
       'ProductTocLivebookLinkOpened', 'ReadingOpenChapter',
       'HighlightCreated', 'BookmarkCreated', 'ReadingFreePreview',
       'ProductLookInsideLivebookLinkOpened', 'SearchResultOpened',
       'SearchMade', 'ProductLiveaudioUpsell', 'WishlistItemAdded',
       'OrderConfirmationLivebookLinkOpened', 'CrossReferenceTermOpened',
       'ExerciseSolved', 'UpvoteGiven', 'ShareableLinkOpened',
       'ShareableLinkCreated', 'NoteCreated', 'ProductSeeFreeLinkOpened',
       'LivebookLogin', 'EBookDownloaded', 'EBookRegistration',
       'FreeContentCheckout', 'UnknownOriginLivebookLinkOpened',
       'AddProductOffering', 'RemoveProductOffering', 'AddOrUpdateCoupon',
       'GoToManningShoppingCart', 'FirstManningAccess',
       'FirstLivebookAccess', 'LivebookRegistration',
       'LivebookAccountConfirmation', 'SherlockHolmesClueFound',
       'CommentCreated'], dtype=object)

In [22]:
data.groupby(data['event_type']) \
    .size() \
    .reset_index(name='counts') \
    .sort_values(by=['counts'], ascending=False)

                             event_type  counts
25                     ReadingOwnedBook  748260
9                   FirstLivebookAccess  658226
10                   FirstManningAccess  657340
6                       EBookDownloaded  277356
23                   ReadingFreePreview  138197
13                     HighlightCreated  121643
11                  FreeContentCheckout  116183
24                   ReadingOpenChapter  100004
22         ProductTocLivebookLinkOpened   88130
15                        LivebookLogin   62484
5           DashboardLivebookLinkOpened   48308
34                    WishlistItemAdded   37609
4              CrossReferenceTermOpened   34094
27                           SearchMade   27861
28                   SearchResultOpened   24228
20  ProductLookInsideLivebookLinkOpened   22987
2                       BookmarkCreated   10900
7                     EBookRegistration    8842
16                 LivebookRegistration    7702
14          LivebookAccountConfirmation    7309
8                        ExerciseSolved    6971
18  OrderConfirmationLivebookLinkOpened    6739
1                    AddProductOffering    6511
17                          NoteCreated    5181
33                          UpvoteGiven    4815
12              GoToManningShoppingCart    4608
29                 ShareableLinkCreated    2746
30                  ShareableLinkOpened    2387
26                RemoveProductOffering    2163
0                     AddOrUpdateCoupon    1277
19               ProductLiveaudioUpsell     838
21             ProductSeeFreeLinkOpened     163
31              SherlockHolmesClueFound      10
32      UnknownOriginLivebookLinkOpened       3
3                        CommentCreated       1

In [30]:
data[data['event_type'] == 'ReadingOwnedBook'] \
    .groupby(data['account_id']) \
    .size().reset_index(name='counts') \
    .sort_values(by='counts', ascending=False)

                             account_id  counts
19074  af4aee059f0e65cac9f5660fac3bda73    2125
3214   1d5c3b98dfd61bc1e63f60cf258792d4    1159
18317  a83ee5d564aec09518ee8f6fdfe61f88    1040
20504  bd0328b20037b2f9c37ee06ecff40e11     968
15614  8fbd574938b9b55454115bc897b45bb3     904
...                                 ...     ...
5371   314c88254e246db96de0ab36353ccf16       1
5372   314c9ed84d4d47e7eb6a325f3c257102       1
1755   0fc3228f6d7a22b45f4e2615853d589a       1
1754   0fc12e19b6940e9af1185d262bf5962e       1
15700  906cc0b4cad0f21acfaa32f06e7825e7       1

[27735 rows x 2 columns]

In [36]:
data[data['event_type'] == 'ReadingOwnedBook'] \
    .groupby(['product_id', 'account_id']) \
    .size().reset_index(name='counts') \
    .sort_values(by='product_id', ascending=False)

       product_id                        account_id  counts
50887        1838  cf10ab2bc0bab1608ddc7769785ee5b3       2
50880        1439  827a2457185d74172fa836faa34c55c6       1
50873        1439  05d4695bfb6da385da88adaabad04910       2
50874        1439  18315f7e252524ff14ed112a571aaea8       1
50875        1439  308d48ac0d8200edabf52a950329aae6       3
...           ...                               ...     ...
4               0  cf10ab2bc0bab1608ddc7769785ee5b3      12
2              -1  796a3ddd2e338a776349e9440234fdc9      46
1              -1  3eff5d4b55889abb0a8b08d2136f1b63      13
3              -1  e29532f502456da087de9b275a7f126d       9
0              -1  1cb86261dce6b616c5b77e591be114b6      61

[50888 rows x 3 columns]

In [58]:
data[data['event_type'] == 'ReadingOwnedBook'] \
    .groupby(['YYYYMM']) \
    .size().reset_index(name='counts') \
    .sort_values(by='YYYYMM', ascending=True)

   YYYYMM  counts
0  201911    3280
1  201912   96162
2  202001  104943
3  202002  116414
4  202003  118200
5  202004  143443
6  202005  150669
7  202006   15149

In [62]:
data[data['event_type'] == 'ReadingOwnedBook'] \
    .groupby(['YYYYMM']) \
    .nunique()

,account_id,event_time,event_type,product_id,additional_data,Year,Month,Day,Date
YYYYMM,,,,,,,,,
201911,622,3280,1,210,8,1,1,2,2
201912,6334,96161,1,417,8,1,1,31,31
202001,6843,104940,1,413,8,1,1,31,31
202002,7149,116409,1,439,8,1,1,29,29
202003,7527,118191,1,441,8,1,1,31,31
202004,9676,143425,1,462,8,1,1,30,30
202005,9377,150658,1,464,8,1,1,31,31
202006,1863,15148,1,323,8,1,1,4,4

In [74]:
data[data['event_type'] == 'ReadingOwnedBook'] \
    .groupby(['YYYYMM']) \
    .agg({'Day': pd.Series.nunique, 'account_id': pd.Series.count}) \
    .rename(columns={'Day':'days', 'account_id':'events'})

        days  events
YYYYMM
201911     2    3280
201912    31   96162
202001    31  104943
202002    29  116414
202003    31  118200
202004    30  143443
202005    31  150669
202006     4   15149

In [96]:
event_type_summary = data \
    .groupby(['event_type']) \
    .agg({'YYYYMM': pd.Series.nunique, 'Date': pd.Series.nunique, 'product_id': pd.Series.count, 'account_id': pd.Series.nunique}) \
    .rename(columns={'YYYYMM':'months', 'Date':'days', 'product_id':'events', 'account_id': 'customers'}) \
    .sort_values(by=['event_type'])

In [97]:
event_type_summary['events_per_account_per_month'] = (event_type_summary['events'] / event_type_summary['customers'])/(event_type_summary['days']/28.0)

In [98]:
event_type_summary

,months,days,events,customers,events_per_account_per_month
event_type,,,,,
AddOrUpdateCoupon,4,88,1277,730,0.556600
AddProductOffering,4,88,6511,4421,0.468600
BookmarkCreated,8,189,10900,1775,0.909755
CommentCreated,1,1,1,1,28.000000
CrossReferenceTermOpened,8,189,34094,7332,0.688893
DashboardLivebookLinkOpened,8,189,48308,11283,0.634294
EBookDownloaded,7,184,277356,48762,0.865558
EBookRegistration,7,183,8842,7131,0.189717
ExerciseSolved,8,188,6971,636,1.632443
FirstLivebookAccess,4,86,658226,1,214306.139535
FirstManningAccess,4,86,657340,1,214017.674419
FreeContentCheckout,7,183,116183,22512,0.789651
GoToManningShoppingCart,4,87,4608,3318,0.446966
HighlightCreated,8,189,121643,3110,5.794593
LivebookAccountConfirmation,4,85,7309,7307,0.329502
LivebookLogin,7,184,62484,34344,0.276859
LivebookRegistration,4,85,7702,7702,0.329412
NoteCreated,8,187,5181,649,1.195323
OrderConfirmationLivebookLinkOpened,8,189,6739,3921,0.254621
ProductLiveaudioUpsell,8,166,838,431,0.327957
ProductLookInsideLivebookLinkOpened,8,189,22987,7942,0.428794
ProductSeeFreeLinkOpened,7,76,163,115,0.522197
ProductTocLivebookLinkOpened,8,189,88130,18017,0.724665
ReadingFreePreview,8,189,138197,22205,0.922028
ReadingOpenChapter,8,189,100004,15840,0.935316
ReadingOwnedBook,8,189,748260,27735,3.996875
RemoveProductOffering,4,88,2163,1540,0.446901
SearchMade,8,189,27861,7558,0.546117
SearchResultOpened,8,189,24228,7467,0.480693
ShareableLinkCreated,8,158,2746,221,2.201959
ShareableLinkOpened,8,171,2387,119,3.284486
SherlockHolmesClueFound,1,2,10,1,140.000000
UnknownOriginLivebookLinkOpened,3,3,3,3,9.333333
UpvoteGiven,8,188,4815,1086,0.660339
WishlistItemAdded,8,189,37609,8527,0.653419